Gallery
<hr>
<!DOCTYPE html>
<html>
    <div class="row">
    <div class="col-md-3">
        <img src="assets/img/img1.jpg" style="height: 100px;width:100px">
        <br><strong>Image 1</strong>
    </div>
    <div class="col-md-3">
        <img src="assets/img/img2.jpg" style="height: 100px;width:100px">
        <br><strong>Image 2</strong>
    
    </div>
    <div class="col-md-3">
        <img src="assets/img/img3.jpg" style="height: 100px;width:100px">
        <br>
        <strong>Image 3</strong>
    
    </div>
    <div class="col-md-3">
        <img src="assets/img/img4.jpg" style="height: 100px;width:100px">
        <br>
        <strong>Image 4</strong>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-3">
        <img src="assets/img/img6.jpg" style="height: 100px;width:100px">
        <br><strong>Image 5</strong>
    </div>
    <div class="col-md-3">
        <img src="assets/img/img7.jpg" style="height: 100px;width:100px">
        <br><strong>Image 6</strong>
    
    </div>
    <div class="col-md-3">
        <img src="assets/img/img9.jpg" style="height: 100px;width:100px">
        <br>
        <strong>Image 7</strong>
    
    </div>
    <div class="col-md-3">
        <img src="assets/img/img10.jpg" style="height: 100px;width:100px">
        <br>
        <strong>Image 8</strong>
    </div>
</div>


</html>