Table Data
<hr>
<div class="row">
    <div class="col-md-3">
        <table border="2" class="table table-bordered" style="height: 200px">
            <tr>
                <td style="text-align: center">tally box design</td>
            </tr>
            <tr>
                <td style="text-align: center">Some text</td>
            </tr>
            <tr>
                <td style="text-align: cente">
                <button class="btn btn-success center" >Sign Up
                </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
            <table border="2" class="table table-bordered" style="height: 200px">
                <tr>
                    <td style="text-align: center">tally box design</td>
                </tr>
                <tr>
                    <td style="text-align: center">Some text</td>
                </tr>
                <tr>
                    <td style="text-align: cente">
                    <button class="btn btn-success center" >Sign Up
                    </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
                <table border="2" class="table table-bordered" style="height: 200px">
                    <tr>
                        <td style="text-align: center">tally box design</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">Some text</td>
                    </tr>
                    <tr>
                        <td style="text-align: cente">
                        <button class="btn btn-success center" >Sign Up
                        </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                    <table border="2" class="table table-bordered" style="height: 200px">
                        <tr>
                            <td style="text-align: center">tally box design</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Some text</td>
                        </tr>
                        <tr>
                            <td style="text-align: cente">
                            <button class="btn btn-success center" >Sign Up
                            </button>
                            </td>
                        </tr>
                    </table>
                </div>
                        
    
</div>